<div class="border-0 shadow mb-4 center small no-print">

Revisi halaman ini dengan tombol edit dibawah, bila menurut anda ada yang keliru, ada yang perlu ditambahkan agar isi konten lebih baik lagi.

     <a class="butedit btn btn-primary btn-sm" target="_blank" rel="nofollow" href="{{site.url}}/admin/#/collections/{{ page.category }}/entries/{{ page.path | replace: '_posts/artikel/','' | replace: '_posts/buku/','' | replace: '_posts/berita/','' | replace: '_posts/administrasi/','' | replace: '_posts/infografis/','' | replace: '_posts/teori/','' | replace: '_posts/tutorial/','' | replace: '.md','' | replace: '.markdown',''}}" title="Edit Halaman {{page.title}}"><i class="glyphicon glyphicon-edit"></i><span> Edit</span></a>

    </div>
