<nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand scroll" href="/">{% if page.layout == 'home' %}<h1 class="sr-only">{{site.title}}</h1>{% endif %}<img src="{{ site.url }}/{{ site.logo_url }}" alt="{{ site.title }}"></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="{{ site.url }}" title="Beranda">Beranda</a></li>
			<li class="divider"></li>
			<li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true"> <span class="nav-label">Pendidikan</span> <span class="caret"></span></a>
            <ul class="dropdown-menu">
                 <li class="dropdown-submenu">
                    <a href="{{ site.url }}/adm" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <span class="nav-label">Administrasi</span><span class="caret"></span></a>
                    <ul class="dropdown-menu">
					<li><a href="{{ site.url }}/adm/silabus" title="Silabus">Silabus</a></li><li class="divider"></li>
					<li><a href="{{ site.url }}/adm/rpp" title="RPP">RPP</a></li>
                    </ul>
                </li>
				<li class="divider"></li>
			<li class="dropdown-submenu">
			<a href="{{site.url}}/bse" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Buku Umum  <span class="caret"></span></a>
			<ul class="dropdown-menu">
        <li class="dropdown-submenu"><a href="#" title="Kelas 1" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <span class="nav-label">Kelas 1</span><span class="caret"></span></a>
		            <ul class="dropdown-menu">
					<li><a href="{{ site.url }}/bse/guru/kelas-1" title="Buku Kelas 1">Buku Guru</a></li>
					<li class="divider"></li>
					<li><a href="{{ site.url }}/bse/siswa/kelas-1" title="Buku Kelas 1">Buku siswa</a></li>
				
				</ul>
               
		</li> <li class="divider"></li>
	<li class="dropdown-submenu"><a href="#" title="Kelas 2" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <span class="nav-label">Kelas 2</span><span class="caret"></span></a>
		            <ul class="dropdown-menu">
					<li><a href="{{ site.url }}/bse/guru/kelas-2" title="Buku Kelas 2">Buku Guru</a></li>
					<li class="divider"></li>
					<li><a href="{{ site.url }}/bse/siswa/kelas-2" title="Buku Kelas 2">Buku siswa</a></li>
					
					</ul>
               
		</li>
		<li class="divider"></li>
		<li class="dropdown-submenu"><a href="#" title="Kelas 3" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <span class="nav-label">Kelas 3</span><span class="caret"></span></a>
		            <ul class="dropdown-menu">
					<li><a href="{{ site.url }}/bse/guru/kelas-3" title="Buku Kelas 3">Buku Guru</a></li>
					<li class="divider"></li>
					<li><a href="{{ site.url }}/bse/siswa/kelas-3" title="Buku Kelas 3">Buku siswa</a></li>
			
			</ul>
               
		</li>	
		<li class="divider"></li>
			<li class="dropdown-submenu"><a href="#" title="Kelas 4" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <span class="nav-label">Kelas 4</span><span class="caret"></span></a>
		            <ul class="dropdown-menu">
					<li><a href="{{ site.url }}/bse/guru/kelas-4" title="Buku Kelas 4">Buku Guru</a></li>
					<li class="divider"></li>
					<li><a href="{{ site.url }}/bse/siswa/kelas-4" title="Buku Kelas 4">Buku siswa</a></li>
				
				</ul>
               
		</li>
		<li class="divider"></li>
			<li class="dropdown-submenu"><a href="#" title="Kelas 5" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <span class="nav-label">Kelas 5</span><span class="caret"></span></a>
		            <ul class="dropdown-menu">
					<li><a href="{{ site.url }}/bse/guru/kelas-5" title="Buku Kelas 5">Buku Guru</a></li>
					<li class="divider"></li>
					<li><a href="{{ site.url }}/bse/siswa/kelas-5" title="Buku Kelas 5">Buku siswa</a></li>

					</ul>
               
		</li>
<li class="divider"></li>
			<li class="dropdown-submenu"><a href="#" title="Kelas 6" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <span class="nav-label">Kelas 6</span><span class="caret"></span></a>
		            <ul class="dropdown-menu">
					<li><a href="{{ site.url }}/bse/guru/kelas-6" title="Buku Kelas 6">Buku Guru</a></li>
					<li class="divider"></li>
					<li><a href="{{ site.url }}/bse/siswa/kelas-6" title="Buku Kelas 6">Buku siswa</a></li>

					</ul>
               
		</li>
		<li class="divider"></li>
		<li class="dropdown-submenu"><a href="#" title="Kelas 7" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <span class="nav-label">Kelas 7</span><span class="caret"></span></a>
		            <ul class="dropdown-menu">
					<li><a href="{{ site.url }}/bse/guru/kelas-7" title="Buku Kelas 7">Buku Guru</a></li>
					<li class="divider"></li>
					<li><a href="{{ site.url }}/bse/siswa/kelas-7" title="Buku Kelas 7">Buku siswa</a></li>

					</ul>
               
		</li>
		<li class="divider"></li>
		<li class="dropdown-submenu"><a href="#" title="Kelas 8" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <span class="nav-label">Kelas 8</span><span class="caret"></span></a>		
		            <ul class="dropdown-menu">
					<li><a href="{{ site.url }}/bse/guru/kelas-8" title="Buku Kelas 8">Buku Guru</a></li>
					<li class="divider"></li>
					<li><a href="{{ site.url }}/bse/siswa/kelas-8" title="Buku Kelas 8">Buku siswa</a></li>
	
	</ul>
               
		</li>
		<li class="divider"></li>
		<li class="dropdown-submenu"><a href="#" title="Kelas 9" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <span class="nav-label">Kelas 9</span><span class="caret"></span></a>
		            <ul class="dropdown-menu">
					<li><a href="{{ site.url }}/bse/guru/kelas-9" title="Buku Kelas 9">Buku Guru</a></li>
					<li class="divider"></li>
					<li><a href="{{ site.url }}/bse/siswa/kelas-9" title="Buku Kelas 9">Buku siswa</a></li>
		
		</ul>
               
		</li>
		<li class="divider"></li>
		<li class="dropdown-submenu"><a href="#" title="Kelas 10" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <span class="nav-label">Kelas 10</span><span class="caret"></span></a>
		            <ul class="dropdown-menu">
					<li><a href="{{ site.url }}/bse/guru/kelas-10" title="Buku Kelas 10">Buku Guru</a></li>
					<li class="divider"></li>
					<li><a href="{{ site.url }}/bse/siswa/kelas-10" title="Buku Kelas 10">Buku siswa</a></li>

					</ul>
               
		</li>
		<li class="divider"></li>
		<li class="dropdown-submenu"><a href="#" title="Kelas 11" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <span class="nav-label">Kelas 11</span><span class="caret"></span></a>
		            <ul class="dropdown-menu">
					<li><a href="{{ site.url }}/bse/guru/kelas-11" title="Buku Kelas 11">Buku Guru</a></li>
					<li class="divider"></li>
					<li><a href="{{ site.url }}/bse/siswa/kelas-11" title="Buku Kelas 11">Buku siswa</a></li>

					</ul>
               
		</li>
		<li class="divider"></li>
		<li class="dropdown-submenu"><a href="#" title="Kelas 12" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <span class="nav-label">Kelas 12</span><span class="caret"></span></a>
		            <ul class="dropdown-menu">
					<li><a href="{{ site.url }}/bse/guru/kelas-12" title="Buku Kelas 12">Buku Guru</a></li>
					<li class="divider"></li>
					<li><a href="{{ site.url }}/bse/siswa/kelas-12" title="Buku Kelas 12">Buku siswa</a></li>

					</ul>
               
		</li>
		</ul>
			</li>
			<li class="divider"></li>
				
		
			<li class="dropdown-submenu">
			<a href="{{site.url}}/bse" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Buku SLB  <span class="caret"></span></a>
			<ul class="dropdown-menu">
        <li class="dropdown-submenu"><a href="#" title="Kelas 1" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <span class="nav-label">Kelas 1</span><span class="caret"></span></a>
		            <ul class="dropdown-menu">
					<li><a href="{{ site.url }}/bse/guru/slb/kelas-1" title="Buku Kelas 1">Buku Guru</a></li>
					<li class="divider"></li>
					<li><a href="{{ site.url }}/bse/siswa/slb/kelas-1" title="Buku Kelas 1">Buku siswa</a></li>
					
					</ul>
               
		</li> <li class="divider"></li>
	<li class="dropdown-submenu"><a href="#" title="Kelas 2" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <span class="nav-label">Kelas 2</span><span class="caret"></span></a>
		            <ul class="dropdown-menu">
					<li><a href="{{ site.url }}/bse/guru/slb/kelas-2" title="Buku Kelas 2">Buku Guru</a></li>
					<li class="divider"></li>
					<li><a href="{{ site.url }}/bse/siswa/slb/kelas-2" title="Buku Kelas 2">Buku siswa</a></li>
					
					</ul>
               
		</li>
		<li class="divider"></li>
		<li class="dropdown-submenu"><a href="#" title="Kelas 3" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <span class="nav-label">Kelas 3</span><span class="caret"></span></a>
		            <ul class="dropdown-menu">
					<li><a href="{{ site.url }}/bse/guru/slb/kelas-3" title="Buku Kelas 3">Buku Guru</a></li>
					<li class="divider"></li>
					<li><a href="{{ site.url }}/bse/siswa/slb/kelas-3" title="Buku Kelas 3">Buku siswa</a></li>
					
					</ul>
               
		</li>	
		<li class="divider"></li>
			<li class="dropdown-submenu"><a href="#" title="Kelas 4" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <span class="nav-label">Kelas 4</span><span class="caret"></span></a>
		            <ul class="dropdown-menu">
					<li><a href="{{ site.url }}/bse/guru/slb/kelas-4" title="Buku Kelas 4">Buku Guru</a></li>
					<li class="divider"></li>
					<li><a href="{{ site.url }}/bse/siswa/slb/kelas-4" title="Buku Kelas 4">Buku siswa</a></li>
					
					</ul>
               
		</li>
		<li class="divider"></li>
			<li class="dropdown-submenu"><a href="#" title="Kelas 5" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <span class="nav-label">Kelas 5</span><span class="caret"></span></a>
		            <ul class="dropdown-menu">
					<li><a href="{{ site.url }}/bse/guru/slb/kelas-5" title="Buku Kelas 5">Buku Guru</a></li>
					<li class="divider"></li>
					<li><a href="{{ site.url }}/bse/siswa/slb/kelas-5" title="Buku Kelas 5">Buku siswa</a></li>
					
					</ul>
               
		</li>
<li class="divider"></li>
			<li class="dropdown-submenu"><a href="#" title="Kelas 6" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <span class="nav-label">Kelas 6</span><span class="caret"></span></a>
		            <ul class="dropdown-menu">
					<li><a href="{{ site.url }}/bse/guru/slb/kelas-6" title="Buku Kelas 6">Buku Guru</a></li>
					<li class="divider"></li>
					<li><a href="{{ site.url }}/bse/siswa/slb/kelas-6" title="Buku Kelas 6">Buku siswa</a></li>
					
					</ul>
               
		</li>
		<li class="divider"></li>
		<li class="dropdown-submenu"><a href="#" title="Kelas 7" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <span class="nav-label">Kelas 7</span><span class="caret"></span></a>
		            <ul class="dropdown-menu">
					<li><a href="{{ site.url }}/bse/guru/slb/kelas-7" title="Buku Kelas 7">Buku Guru</a></li>
					<li class="divider"></li>
					<li><a href="{{ site.url }}/bse/siswa/slb/kelas-7" title="Buku Kelas 7">Buku siswa</a></li>
					
					</ul>
               
		</li>
		<li class="divider"></li>
		<li class="dropdown-submenu"><a href="#" title="Kelas 8" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <span class="nav-label">Kelas 8</span><span class="caret"></span></a>		
		            <ul class="dropdown-menu">
					<li><a href="{{ site.url }}/bse/guru/slb/kelas-8" title="Buku Kelas 8">Buku Guru</a></li>
					<li class="divider"></li>
					<li><a href="{{ site.url }}/bse/siswa/slb/kelas-8" title="Buku Kelas 8">Buku siswa</a></li>
					
					</ul>
               
		</li>
		<li class="divider"></li>
		<li class="dropdown-submenu"><a href="#" title="Kelas 9" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <span class="nav-label">Kelas 9</span><span class="caret"></span></a>
		            <ul class="dropdown-menu">
					<li><a href="{{ site.url }}/bse/guru/slb/kelas-9" title="Buku Kelas 9">Buku Guru</a></li>
					<li class="divider"></li>
					<li><a href="{{ site.url }}/bse/siswa/slb/kelas-9" title="Buku Kelas 9">Buku siswa</a></li>
					
					</ul>
               
		</li>
		<li class="divider"></li>
		<li class="dropdown-submenu"><a href="#" title="Kelas 10" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <span class="nav-label">Kelas 10</span><span class="caret"></span></a>
		            <ul class="dropdown-menu">
					<li><a href="{{ site.url }}/bse/guru/slb/kelas-10" title="Buku Kelas 10">Buku Guru</a></li>
					<li class="divider"></li>
					<li><a href="{{ site.url }}/bse/siswa/slb/kelas-10" title="Buku Kelas 10">Buku siswa</a></li>
					
					</ul>
               
		</li>
		<li class="divider"></li>
		<li class="dropdown-submenu"><a href="#" title="Kelas 11" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <span class="nav-label">Kelas 11</span><span class="caret"></span></a>
		            <ul class="dropdown-menu">
					<li><a href="{{ site.url }}/bse/guru/slb/kelas-11" title="Buku Kelas 11">Buku Guru</a></li>
					<li class="divider"></li>
					<li><a href="{{ site.url }}/bse/siswa/slb/kelas-11" title="Buku Kelas 11">Buku siswa</a></li>
					
					</ul>
               
		</li><li class="divider"></li>
		<li class="dropdown-submenu"><a href="#" title="Kelas 12" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <span class="nav-label">Kelas 12</span><span class="caret"></span></a>
		            <ul class="dropdown-menu">
					<li><a href="{{ site.url }}/bse/guru/slb/kelas-12" title="Buku Kelas 12">Buku Guru</a></li>
					<li class="divider"></li>
					<li><a href="{{ site.url }}/bse/siswa/slb/kelas-12" title="Buku Kelas 12">Buku siswa</a></li>
					
					</ul>
               
		</li>
		</ul>
			</li>
					<li class="divider"></li>
					<li><a href="{{ site.url }}/bse/paud" title="paud">Buku Paud</a></li> <li class="divider"></li>
			        <li class="dropdown-submenu">
                    <a href="{{ site.url }}/soal" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <span class="nav-label">Soal</span><span class="caret"></span></a>
                    <ul class="dropdown-menu">
					<li><a href="{{ site.url }}/soal/kelas-1" title="Kelas 1">Kelas 1</a></li><li class="divider"></li>
					<li><a href="{{ site.url }}/soal/kelas-2" title="Kelas 2">Kelas 2</a></li><li class="divider"></li>
					<li><a href="{{ site.url }}/soal/kelas-3" title="Kelas 3">Kelas 3</a></li><li class="divider"></li>
					<li><a href="{{ site.url }}/soal/kelas-4" title="Kelas 4">Kelas 4</a></li><li class="divider"></li>
					<li><a href="{{ site.url }}/soal/kelas-5" title="Kelas 5">Kelas 5</a></li><li class="divider"></li>
					<li><a href="{{ site.url }}/soal/kelas-6" title="Kelas 6">Kelas 6</a></li>
					
					</ul>
                    </li>
				    <li class="divider"></li>
					<li class="dropdown-submenu">
                    <a href="{{ site.url }}/jawaban" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <span class="nav-label">Jawaban</span><span class="caret"></span></a>
                    <ul class="dropdown-menu">
					<li><a href="{{ site.url }}/soal/jawaban/kelas-1" title="Kelas 1">Kelas 1</a></li><li class="divider"></li>
					<li><a href="{{ site.url }}/soal/jawaban/kelas-2" title="Kelas 2">Kelas 2</a></li><li class="divider"></li>
					<li><a href="{{ site.url }}/soal/jawaban/kelas-3" title="Kelas 3">Kelas 3</a></li><li class="divider"></li>
					<li><a href="{{ site.url }}/soal/jawaban/kelas-4" title="Kelas 4">Kelas 4</a></li><li class="divider"></li>
					<li><a href="{{ site.url }}/soal/jawaban/kelas-5" title="Kelas 5">Kelas 5</a></li><li class="divider"></li>
					<li><a href="{{ site.url }}/soal/jawaban/kelas-6" title="Kelas 6">Kelas 6</a></li>
					
					</ul>
                </li>
					<li class="divider"></li>
		<li><a href="{{ site.url }}/bse/komik" title="Komik Pendidikan">Komik</a></li> 

            </ul>
        </li>
		

            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" href="{{site.url}}/berita" title="Berita">Berita <span class="caret"></span></a>
		  <ul class="dropdown-menu">
        <li><a href="{{ site.url }}/berita/pendidikan" title="Berita Pendidikan">Pendidikan</a></li> 
		<li class="divider"></li>
		<li><a href="{{ site.url }}/berita/cpns" title="CPNS">CPNS</a></li> 
		<li class="divider"></li>
		<li><a href="{{ site.url }}/berita/honorer" title="Honorer">Honorer</a></li> 
    </ul>
		  </li>
			<li class="divider"></li>
			<li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Lainnya <span class="caret"></span></a>
              <ul class="dropdown-menu">
        
		<li><a href="{{ site.url }}/dongeng" title="Dongeng">Dongeng</a></li> 
		<li class="divider"></li>
		<li><a href="{{ site.url }}/infografis" title="Infografis">Infografis</a></li>
		<li class="divider"></li>
		<li><a href="{{ site.url }}/teori" title="teori">Teori</a></li>
		<li class="divider"></li>
        <li><a href="{{ site.url }}/tutorial" title="Tutorial">Tutorial</a></li>  
              </ul>
            </li>
			<li class="dropdown">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Panduan <b class="caret"></b></a>
        	<ul class="dropdown-menu">
          	<li><a href="{{ site.url }}/kontributor/daftar-kontributor">Kontributor</a></li>
			<li class="divider"></li>
          	<li><a href="{{ site.url }}/doc/kebijakan-privasi-cookie">Pusat Kebijakan</a></li>
			<li class="divider"></li>
	  	<li><a href="{{ site.url }}/doc/kode-etik">Kode Etik</a></li>
          	<li class="divider"></li>
	  	<li><a href="{{ site.url }}/doc/tentang-administrasi">Tentang</a></li>
           	</ul>
      		</li>
                <li><a class="login" href="{{ site.url }}/admin">Login</a></li>
			 <li><a href="/cari" class="scroll search-modal" action="{{ site.baseurl }}/search"><i class="glyphicon glyphicon-search"></i></a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>