---
layout: compress
---


{% include doctype-head.html %}
<body data-spy="scroll" data-offset="80" data-target=".scrollspy" id="top">
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MQ6RK4P"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
    
    <!--[if lt IE 10]>
        <p class="oldie">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> to better experience this site.</p>
    <![endif]-->

    {% include header.html %}
	<main>
        {{ content }}
	</main>
    {% if page.layout == 'post' %} 
    
    {% endif %}       
    <div class="container">
    {% include ads-footer.html %}
    </div> 
    {% include footer.html %}
	{% include sticky.html %}
    <div id='kotak-dialog' class="no-print"><h5 class='title'>Tunggu hingga dokumen muncul<a class='closed' href='#'><i aria-hidden='true' class='glyphicon glyphicon-remove'></i></a></h5><div class='isi-dialog'><div id='iframeContainer'></div></div></div><div id='dialog-overlay'></div>
    {% include svg-defs.svg %}
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>  
	<script src="{{ site.baseurl }}/js/all.js"></script>
    {% if page.layout == 'post' or page.layout == 'page' or page.layout == 'news_item' or page.layout == 'perkategori' %} 
    {% include disqus.html %}
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/id_ID/sdk.js#xfbml=1&version=v7.0&appId=502591903662193&autoLogAppEvents=1"></script>
    {% endif %}
{% if page.layout == 'post' or page.layout == 'news_item'%}
	<script>
$(document).ready(function() {
  function shuffle(array) {
    var counter = array.length, temp, index;
    while (counter--) {
      index = Math.random() * counter | 0;
      temp = array[counter];
      array[counter] = array[index];
      array[index] = temp;
    }
    return array;
  }
  $(function() {
    var item1 = $('main p');
    var random = shuffle(item1).slice(0, 1);
    random.after('{% include tag-p.html %}');
  });
});</script>
    {% endif %}
</body>
</html>
