---
layout: default
---

<div class="container">

    <div class="row">
        {% include page-header.html %}
      <!-- Post Content Column -->
      <div class="card-body">
        <div class="card border-0 shadow mb-4">
        <div class="mt-3">
<h3 class="font-weight-bold spanborder"><span>Post</span></h3>
{% for post in paginator.posts %}
{% include main-card.html %}
{% endfor %} 
<div class="mt-5">
   {% if paginator.total_pages > 1 %}
  <ul class="pager">
      {% if paginator.first_page %}
      <li class="previous left">
          <a href="{{ paginator.first_page_path | prepend: site.baseurl | replace: '//', '/' }}">First</a>
      </li>
      {% endif %}
      {% if paginator.previous_page %}
      <li class="previous">
          <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}" title="Halaman Sebelumnya"><span class="glyphicon glyphicon-chevron-left"></span></a>
      </li>
      {% endif %}
      {% if paginator.page_trail %}
        {% for trail in paginator.page_trail %}
          <li {% if page.url == trail.path %}class="disabled"{% endif %}>
              <a href="{{ trail.path | prepend: site.baseurl | replace: '//', '/' }}" title="{{trail.title}}">{{ trail.num }}</a>
          </li>
        {% endfor %}
      {% endif %}
      {% if paginator.next_page %}
      <li class="next">
          <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}" title="Halaman Selanjutnya"><span class="glyphicon glyphicon-chevron-right"></span></a>
      </li>
      {% endif %}
       {% if paginator.last_page %}
      <li class="previous last">
          <a href="{{ paginator.last_page_path | prepend: site.baseurl | replace: '//', '/' }}">Last</a>
      </li>
      {% endif %}
  </ul>
  {% endif %}
        </div>
    </div>

          </div>
            </div>
       
      
      </div>
        <div class="col-md-4 no-print">
            {% include sidebar.html %}
        </div>
     </div>
 </div>
